* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
}

.header {
    height: 10%;
    width: 100%;
    background-color: #2F4858;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5vw;
}

.header > h1 , .home-list > h3, .projects-list > h3{
    color: white;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.sidebar {
    height: 100%;
    width: 15%;
    min-width: 300px;
    background-color: #33658A;

    display: flex;
    flex-flow: column nowrap;
    padding: 1vw;
    gap: 1vh;
}

.projects-list , .home-list {
    display: flex;
    flex-flow: column nowrap;
    gap: 1vh;
}

.sidebar-btn, .newProject-btn{
    all: unset;
    height: 50px;
    width: 80%;
    background-color: #86BBD8;
    border-radius: 16px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0% 1vw;
}

.content {
    height: 100%;
    width: 85%;

    background-color: #86BBD8;
    padding: 2% 8%;
}

.task-list {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    gap: 1vh;
    padding-bottom: 1vh;
}

.task-item {
    height: 80px;
    width: 100%;
    background-color: #33658A;
    color: white;
    border-radius: 8px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

.newTask-btn {
    all: unset;
    height: 40px;
    width: 10%;
    min-width: 100px;
    
    color: white;
    background-color: #33658A;
    border-radius: 16px;
    display: flex;
    text-align: start;
    padding-top: 20px;
    padding-left: 1vw;
}


.projectCreation {
    display: none;
    flex-flow: row wrap;
    gap: 0.5vw;
}

.projectTitle {
    all: unset;
    height: 50px;
    width: 90%;
    min-width: 100px;
    color: white;
    background-color: #33658A;
    border: solid 4px #86BBD8;
    border-radius: 16px;
    text-align: start;
}

.addProjectBtn, .cancelProjectBtn {
    all: unset;
    height: 50px;
    width: 45%;
    min-width: 75px;

    color: black;
    background-color: #86BBD8;
    border-radius: 16px;
    text-align: center;
}

.taskCreation {
    display: none;
    gap: 1vw;
}

.taskTitle {
    all: unset;
    height: 42px;
    width: 20%;
    min-width: 100px;

    background-color: #86BBD8;
    border: solid 4px #33658A;
    border-radius: 16px;
    text-align: start;
}

.addTaskBtn, .cancelTaskBtn {
    all: unset;
    height: 50px;
    width: 5%;
    min-width: 100px;

    color: white;
    background-color: #33658A;
    border-radius: 16px;
    text-align: center;
}

.complete-side {
    all: unset;
    height: 30px;
    width: 5%;
    min-width: 30px;

    color: white;
    background-color: #33658A;
    border-radius: 16px;
    text-align: center;
}

.complete-task {
    all: unset;
    height: 50px;
    width: 10%;
    min-width: 100px;

    color: black;
    background-color: #86BBD8;
    border-radius: 16px;
    text-align: center;
}

.footer {
    height: 5%;
    width: 100%;
    background-color: #2F4858;
    color: white;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}